<body>
    <div class="container">
        <h2 class="center">Users Table</h2>
        <a href="/users/new" class="center btn btn-primary">Create User</a>
        <table class="container table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Zip Code</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                    <% users.forEach(u => {%>
                        <tr>
                            <td> 
                                <a href="<%= `/users/${u._id}`%>"> <%= u.fullName %>
                                </a>
                            </td>
                            <td> <%= u.email %></td>
                            <td> <%= u.zipCode %></td>
                            <td><a href="<%= `/users/edit/${u._id}`%>">Edit</a></td>
                            <td><a href="<%= `/users/${u._id}/delete?_method=DELETE` %>"  onclick="return confirm('Are you sure you want to delete this record?')">Delete</a></td>
                        </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
</body>